<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FFXIV Service Toolbot</title>
</head>
<body>
    <h1>FFXIV Service Toolbot</h1>
    <form method='get' action='<%= authorize_url %>'>
        <input type='hidden' name='response_type' value='code'>
        <input type='hidden' name='client_id' value='<%= client_id %>' />
        <input type='hidden' name='scope' value='bot webhook.incoming messages.read' />
        <input type='hidden' name='state' value='101101' />
        <input type='hidden' name='redirect_uri' value='<%= redirect_uri %>' />
        
        <button type='submit'>생성</button>
    </form>
</body>
</html>